<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
  	<a href="/test">test collision</a><br><br><br>
  	<canvas id="canvas" width="500" height="500"></canvas>
  </body>
</html>
