<!DOCTYPE html>
<html>
<head>
	<title>Pong test</title>
   	<link rel='stylesheet' href='/stylesheets/style.css'>
   	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="/javascripts/test.js"></script>
    <style type="text/css">
    	input{width: 75px}
    </style>
  </head>
  <body>
  	<div class="w3-row">
  		<div id="content" class="w3-col" style="width: 500px;">
  			<canvas id="canvas" width="500" height="500"></canvas>
  			
  		</div>
  		<div class="w3-col" style="width: calc(100% - 500px)">
  			<div id="chart"></div>
  		</div>
  	</div>
  </body>
</html>